@inherits LayoutComponentBase


    <div class="main">
        <div class="content px-4">
            @Body
        </div>


        <footer>
            Blog.MVP.Blazor
            © 2025 老张的哲学 The style design idea comes from <a href="https://edi.wang">edi.wang</a>
        </footer>

    </div>