<section class="top-tags mb-4" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">热门标签（2023）</div>
        <div class="card-body">
            <div class="toptags-list">
                <a href="/MVP_aspnetcore_2023/2023">Asp.Net Core (2023)</a>
                <a href="https://www.bilibili.com/video/BV1584y1Q72k/" class="video">Videos(【全民学习.NET · 你问我答】系列视频)</a>
                <a href="https://www.bilibili.com/video/BV13g4y1Z7in/" class="video">Videos（ASP.NET8.0入门与实战系列视频）</a>
                <a href="https://www.huodongxing.com/event/1711195464623" style="background: #d681e5 !important;">活动行(BCVP六周年线上直播)</a>
                <a href="https://www.huodongxing.com/event/6719392928123" style="background: #d681e5 !important;">活动行(MSReactor线上授课)</a>
                <a href="https://github.com/anjoy8/BCVP.Net8.git" style="background: #03b349 !important;">Github(ASP.NET8.0入口与实战)</a>
            </div>

            <hr>
            <a class="card-link" href="/">Home</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">热门标签（2022）</div>
        <div class="card-body">
            <div class="toptags-list">
                <a href="/MVP_aspnetcore_2022/2022">Asp.Net Core (2022)</a>
                <a href="https://www.bilibili.com/video/BV1J24y1676W" class="video">Videos(Blog.Core公开课：《框架设计杂谈》)</a>
                <a href="https://www.bilibili.com/video/BV1fT411C7CX" class="video">Videos(基于BCXP，实现分布式链路追踪系统实战)</a>
                <a href="https://github.com/anjoy8/Blog.Admin.Pro.git" style="background: #03b349 !important;">Github(Blog.Admin的Antdesign高级版)</a>
                <a href="https://github.com/anjoy8/SparrowPlatform.git" style="background: #03b349 !important;">Github(麻雀azure操作平台)</a>
            </div>

            <hr>
            <a class="card-link" href="/">Home</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">归档标签（2021）</div>
        <div class="card-body">
            <div class="toptags-list">
                <a href="/MVP_aspnetcore_2021/2021">Asp.Net Core (2021)</a>
                <a href="/MVP_java_2021/2021">JAVA Learn</a>
                <a href="/MVP_bcvp_bloghigh/2021" style="background: #0099ff !important;">BlogCore高阶进阶专题</a>
            </div>

            <hr>
            <a class="card-link" href="/">Home</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">归档标签（2020）</div>
        <div class="card-body">
            <div class="toptags-list">
                <a href="/MVP_aspnetcore_2020/2020">Asp.Net Core</a>
                <a href="/MVP_azure_2020/2020">Azure</a>
                <a href="/MVP_ids4_2020/2020">Identityserver4</a>
                <a href="/MVP_blazor_2020/2020">Blazor</a>
                <a href="https://www.bilibili.com/video/BV1vC4y1p7Za" class="video">Videos(Blog.Core)</a>
                <a href="https://www.bilibili.com/video/BV1Gf4y117n8" class="video">Videos(DDD)</a>
                <a href="https://www.bilibili.com/video/BV1nT4y1L7vd" class="video">Videos(eShopOnContainers)</a>
                <a href="https://www.bilibili.com/video/BV1bK411H7jt" class="video">Videos(Azure)</a>
                <a href="/MVP_activity_2020/2020" style="background: #03b349 !important;">活动</a>
                <a href="/MVP_bcvp_2020/2020" style="background: #d681e5 !important;">BCVP开发者社区</a>
            </div>

            <hr>
            <a class="card-link" href="/">Home</a>
        </div>
    </div>
</section>