<section class="top-tags mb-4" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">热门标签（2021）</div>
        <div class="card-body">


            <div class="toptags-list">
                <a href="/MVP_aspnetcore_2021/2021">Asp.Net Core (2021)</a>
                <a href="/MVP_bcvp_abp/2021" style="background: #0099ff !important;">BCVP成员专题一：《Abp vNext》</a>
            </div>

            <hr>
            <a class="card-link" href="/">Home</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">归档标签（2020）</div>
        <div class="card-body">


            <div class="toptags-list">
                <a href="/MVP_aspnetcore_2020/2020">Asp.Net Core</a>
                <a href="/MVP_azure_2020/2020">Azure</a>
                <a href="/MVP_ids4_2020/2020">Identityserver4</a>
                <a href="/MVP_blazor_2020/2020">Blazor</a>
                <a href="https://www.bilibili.com/video/BV1vC4y1p7Za" class="video">Videos(Blog.Core)</a>
                <a href="https://www.bilibili.com/video/BV1Gf4y117n8" class="video">Videos(DDD)</a>
                <a href="https://www.bilibili.com/video/BV1nT4y1L7vd" class="video">Videos(eShopOnContainers)</a>
                <a href="https://www.bilibili.com/video/BV1bK411H7jt" class="video">Videos(Azure)</a>
                <a href="/MVP_activity_2020/2020" style="background: #03b349 !important;">活动</a>
                <a href="/MVP_bcvp_2020/2020" style="background: #d681e5 !important;">BCVP开发者社区</a>
            </div>

            <hr>
            <a class="card-link" href="/">Home</a>
        </div>
    </div>
</section>