<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi @Icon mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please look
        <a class="" href="@Url">@Url</a>
    </span>
    .
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public string Icon { get; set; }
}
