@page "/callback"

@layout NoLayout
@inject AccessState AppState
@inject IJSRuntime JS
@inject NavigationManager Nav


<h3>登录成功！精彩继续...</h3>


@code { protected override async Task OnAfterRenderAsync(bool firstRender)
            {
                var user = await JS.CallbackAsync();
                if (user != null)
                {
                    var userInfo = await JS.GetUserInfoAsync();
                    await JS.SetUserInfoToStorage(userInfo);
                    Nav.NavigateTo("/");
                }
            } }